<mat-card class="card">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title">{{ question.text }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="mat-card-actions">
    <button
      mat-mini-fab
      color="primary"
      routerLink="./edit"
      [queryParams]="{ id: question.id }"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="removeCard(question.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer class="mat-card-footer">
    <div>
      <p>{{ question.type }}</p>
      <p>{{ question.date | date : "yyyy-MM-dd" }}</p>
    </div>
  </mat-card-footer>
</mat-card>
