<mat-card class="card" [style.width]="width" [style.height]="height">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{ question.text }}</mat-card-title>
  </mat-card-header>
  <mat-card-content
    class="card-content-container"
    [style.padding]="!isManagment && 0"
  >
    <div
      *ngIf="isManagment; else notManagment"
      class="card-content"
      [class.managment]="isManagment"
    >
      <p>{{ question.type }}</p>
      <p>{{ question.date | date : "yyyy-MM-dd" }}</p>
    </div>
    <ng-template #notManagment>
      <div
        *ngIf="!question.answer && !isAnswerEdit; else showAnswer"
        class="card-content list"
      >
        <div class="card-answer-options-container">
          <div *ngIf="question.type !== 'open'">
            <cdk-virtual-scroll-viewport itemSize="50">
              <div *cdkVirtualFor="let option of question.answer_options">
                {{ option }}
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
          <div *ngIf="question.type === 'open'">
            <p>Your answer will be here...</p>
          </div>
        </div>
        <div class="answer-button-container">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'./answer-edit'"
            [queryParams]="{ id: question.id }"
          >
            Answer
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #showAnswer>
      <div class="card-content">
        <div class="card-answer-container">
          <div class="card-answer-text">{{ question.answer?.answer }}</div>
        </div>
        <div class="answer-button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="rollBack(question.id)"
            *ngIf="!isAnswerEdit"
          >
            Roll Back
          </button>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-footer class="card-footer" *ngIf="isManagment && mode === 'list'">
    <mat-card-actions class="card-actions">
      <button
        mat-mini-fab
        color="primary"
        [routerLink]="['./edit']"
        [queryParams]="{ id: question.id, mode: 'edit' }"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="removeCard(question.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
