.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 18px;
}

.divider {
  width: 1px;
  background-color: #ccc;
  align-self: stretch;
}

.grid-list-container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  height: 100vh;
  width: 100vw;
}
